.page-section{
  padding: 2rem 0;
  padding-bottom: 0;

  @mixin atMedium{
    padding: 4.5rem 0;
  }

  &--blue{
    background-color: $mainBlue;
    color: #fff;
  }

  &__bg-image{
    background-color: $bgBlue;

    @mixin atLarge{
      background: url("/assets/images/testimonials-bg.jpg") no-repeat top center;
      background-size: cover;
    }
  }

  &--no-pb-until-large{
    padding-bottom: 0;

    @mixin atLarge{
      padding-bottom: 4.5rem;
    }
  }
}
