.row{

  &--mt-large{
    padding-top: 80px;
  }

  @mixin clearfix;

  &--gutters-smaller {
    margin-right: -45px;
  }

  &--gutters-smaller > div{
    padding-right: 45px;
  }

  &--gutters {
    margin-right: -65px;
  }

  &--gutters > div{
    padding-right: 65px;
  }

  &--gutters-large{
    margin-right: -100px;
  }

  &--gutters-large > div{
    padding-right: 100px;
  }

  &--mb-until-med{
    margin-bottom: 1rem;

    @mixin atMedium{
      margin-bottom: 0;
    }
  }

  /* Medium Media Query */
  @mixin atMedium{
    &--equal-height-on-med{
      display: flex;

      & > div{
        display: flex;
      }
    }

    &__medium-4{
      width: 33.33%;
      float: left;
    }

    &__medium-4--larger{
      width: 37%;
    }

    &__medium-6{
      width: 50%;
      float: left;
    }

    &__medium-8{
      width: 66.66%;
      float: left;
    }

    &__medium-8--smaller{
      width: 63%;
    }
  }
}
